@media print {
	figure {
		max-width: unset !important;
		margin: 4rem 0 !important;
		page-break-inside: avoid;
		break-inside: avoid-page;
		img {
			// max-width: 100%;
		}
		figcaption {
			text-align: center;
			margin: 0 auto;
			max-width: -moz-max-content;
			max-width: max-content;
		}
		&.borda, &.mapa {
			ul.legenda {
				min-height: -moz-min-content;
				min-height: min-content;
				max-height: none !important;
				display: block !important;
				columns: 2;
				column-gap: 12px;
				overflow: hidden;
				padding: 0 12px;

				li {
					display: block;
					max-width: 100%;
					break-inside: avoid;
					page-break-inside: avoid;
					text-align: left;
					line-height: initial;
					margin: 0 0 12px 0;
					font-size: small !important;

					div {
						display: inline-block;
						vertical-align: text-bottom;

						&.linha {
							vertical-align: 4px;
						}
					}
					a {}
				}
			}
		}
		&.coluna {
			padding: 0 !important;
		}
		&.ai2html {}
		div.fontes {}
	}
}