@media print {
	figure {
		max-width: calc(100% - 40mm);
		width: auto;
		margin: 4rem auto !important;
		page-break-inside: avoid;
		break-inside: avoid-page;
		text-align: left;
		color-adjust: exact;
		-webkit-print-color-adjust: exact;
		img {
			width: auto;
			margin: 0;
			max-width: 100%;
		}
		& > h1, h2, h3, h4, h5, h6 {
			width: 100%;
			text-align: center;
			padding: 0 12px;
		}
		figcaption {
			text-align: left;
			max-width: max-content;
		}
		&.borda, &.mapa {
			ul.legenda {
				min-height: -moz-min-content;
				min-height: min-content;
				max-height: none !important;
				display: block !important;
				columns: 2;
				column-gap: 12px;
				overflow: hidden;
				padding: 0 12px;
				li {
					display: flex;
					break-inside: avoid;
					page-break-inside: avoid;
					text-align: left;
					line-height: initial;
					margin: 0 0 12px 0;
					padding: 8px;
					font-size: small !important;
					div {
						display: inline-block;
						vertical-align: text-bottom;
						margin-right: 8px;
						&.linha { vertical-align: 4px; }
					}
				}
			}
		}
		&.coluna {
			img { width: 100%; }
			figcaption { width: 100%; }
		}
		div.fontes {}
	}
	figure.ai2html, div.ai2html {
		max-width: 100%;
		* {
			margin: 0 auto;
			width: fit-content;
		}
	}
}