// FONTES
$font-stack: 'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;
$grotesca: 'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;
$serifada: 'Georgia', serif;
$sizedesk: 20px;
$sizemob: 16px;
$sizeprint: 12pt;

//CORES
$preto:  #333;
$cinza-1: #777;
$cinza-2: #BDBDBD;
$cinza-3: #F5F5F5;
$vermelho: #EB5757;
$verde: #008015;

$sombra-1: rgba(0, 0, 0, .8);
$sombra-2: rgba(0, 0, 0, .48);
$sombra-3: rgba(0, 0, 0, .24);
$sombra-4: rgba(0, 0, 0, .12);

$vermelho-escuro: #B84444;
$vermelho-tr: rgba(235, 87, 87, .4);
$verde-escuro: #006611;
$verde-tr: rgba(0, 128, 21, .4);
$amarelo: #FFD400;
$amarelo-tr: rgba(255, 212, 0, .4);
$azul: #4595E5;
$azul-tr: rgba(69, 149, 229, .4);

$font-default-grey: #333;
$sucesso: #009688;
$erro:#EB5757;
$participe-default-color: #EB5757;
